<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="email_styles.css">
</head>
<body>
    <!-- Email Message Section -->
    <div class="email-container">
        <div class="email-header">
            <!-- <h2>Your Email Subject</h2> -->
        </div>
        <div class="email-content">
            <p>Name: <%= name %>,</p>
            <p><%=message%></p>
        </div>
        <div class="email-footer">
            <p>Copyright &copy; 2023 Your Company Name</p>
        </div>
    </div>
</body>
</html>
